.loading{
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF; 
}
.tail{
	width: 100vw;
	height: 5vh;
	background-color: #FFFFFF;
	text-align: center;
}
.hide{
	display: none !important; 
}
body{
	overflow-x: hidden;
}
.table{
	margin: 0px;
	vertical-align: middle;
	display: table;
}
.tr{
	margin: 0px;
	display: table-row;
}
.td{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0.5px solid;
	min-height: 43px;
	line-height: 30px;
	display: table-cell;
}
datalist{
	display: none;
}
caption{
	border: 1px solid #DDD;
	border-bottom: 0px;
}
.red-line >  .tr{
	border-color: #FFA3A0;
}
.blue-line >  .tr{
	border-color: #99E1D9;
}
.yellow-line >  .tr{
	border-color: #FFD670;
}
.gray-line > .tr{
	border-color: #DDDDDD;
}
.red-line >  .tr > .td{
	border-color: #FFA3A0;
}
.blue-line >  .tr > .td{
	border-color: #99E1D9;
}
.yellow-line >  .tr > .td{
	border-color: #FFD670;
}
.gray-line > .tr > .td{
	border-color: #DDDDDD;
}
.red-text{
	color: #FFA3A0;
}
.blue-text{
	color: #99E1D9;
}
.yellow-text{
	color: #FFD670;
}
.gray-text{
	color: #DDDDDD;
}
.skillimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.tab-content>.active{
	padding: 5px;
}
.inline-right{
	display: inline-block;
	float:right;
	text-align: left;
}
.inline-left{
	display: inline-block;
	float:left;
}
.input-sm{
	width:75%;
	display: inline-block;
	text-align: center;
    border: none;
    background: none;
    box-shadow: none;
}
.red-bg{
	background-color: #FFA3A0;
}
.blue-bg{
	background-color: #99E1D9;
}
.yellow-bg{
	background-color: #FFD670;
}
.gray-bg{
	background-color: #DDDDDD;
}
.white-bg{
	background-color: #FFFFFF;
}
.nav-tabs>li.active>a.red, .nav-tabs>li.active>a.red:hover, .nav-tabs>li.active>a.red:focus{
	background-color:#FFA3A0;
	border: 0px;
}
.nav-tabs>li>a.red:hover, .nav-tabs>li>a.red:focus{
	background-color:#FFC6C4;
	border: 0px;
}
.nav-tabs>li.active>a.blue, .nav-tabs>li.active>a.blue:hover, .nav-tabs>li.active>a.blue:focus{
	background-color:#99E1D9;
	border: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color:#DDDDDD;
	border: 0px;
}
.nav-tabs>li>a.blue:hover, .nav-tabs>li>a.blue:focus{
	background-color:#BDE9ED;
	border: 0px;
}
.nav-tabs>li.active>a.yellow, .nav-tabs>li.active>a.yellow:hover, .nav-tabs>li.active>a.yellow:focus{
	background-color:#FFD670;
	border: 0px;
}
.nav-tabs>li>a.yellow:hover, .nav-tabs>li>a.yellow:focus{
	background-color:#FEF6C9;
	border: 0px;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
	border: 0px;
}
.nav-tabs>li {
    margin-bottom: -2px;
}
.nav-tabs{
	border: 0px;
}
input, button{
	outline:none !important;
}
.custom-file-input{
	display:none !important;
}
.custom-file-label{
	background-color: transparent;
}
.right-align{
	float: right;
}
.small-alert{
	padding: 0px;
	margin: 0px;
	display: none;
}
.modal-title{
	text-align: left;
}
.content-li{
	text-align: left;
}
.crowded-row{
	margin: 0px;
}
.crowded-col{
	padding: 0px !important;
	min-height: 0px;
}
.hidden{
	display:none;
}
.wide{
	width:95% !important;
}
.narrow{
	width:40% !important;
}
.vertical-middle{
	display: inline-block;
	vertical-align: middle;
}
.vertical-middle::before{
	height: 100%;
	width: 0;
	/*display: inline-block;*/
	vertical-align: middle;
}
.combo{
	width: 75%;
	display: inline-block;
	text-align: left;
	position: relative;
}
.combo-select{
	width: 100%;
}
.combo-input{
	width: 85%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
}
.spinner-group{
	width:80%;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 25%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #333;
	animation: spinner .6s linear infinite;
}
span.member:not(:first-of-type):before {content:", ";}
span.member:empty:before{content:"";}
.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}
.btn-circle {	
    width: 20px;
    height: 20px;
    padding: 0px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 8px;
    line-height: 20px;
}
.pinned{
	position: relative;
	display: block !important;
}
.pin-btn-group-top {	
    position:absolute;
    top: -10px;
    right: -10px;
    margin: 0px;
    line-height: 20px;
}
.pin-btn-group-bottom {
	position:absolute;
    bottom: -10px;
    right: -10px;
    margin: 0px;
    line-height: 20px;
}
.hidden-box{
	visibility: hidden;
}