doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(meta name="viewport" content="width=device-width, initial-scale=1")
		title A3 組隊計算機
		link(href="../include/css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/a3-calculator.css" rel="stylesheet")
		script(src="../include/js/jquery-3.2.1.min.js")
		script(src="../include/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="../controller/bundle.js")
		script(src="../controller/custom_jquery.js")
	body(ng-app="A3Calculator")
		.loading
		.container
			.page-header.text-center
				h3 A3 台版組隊計算機
				h6 *非穩定版本，可能有bug，結果僅供參考*
				h6 *建議使用電腦瀏覽器*
				h6 目前遊戲(3/4更新)存在技能bug，可參考
					a(href="https://forum.gamer.com.tw/C.php?bsn=31666&snA=332" target="_blank") 巴哈討論串
				.btn-group(role="group" aria-label="menu")
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#help") 說明書
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#yellowskill") 黃組技能
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#redskill") 紅組技能
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#blueskill") 藍組技能
					a.btn.btn-default(type="button" target="_blank" href="https://docs.google.com/spreadsheets/d/1v6cGRqbCGUNcawIkyI7oO2lUP4YpmZZnqrl8Iw9jons/edit?usp=sharing") 問題回報
				.modal.fade#help(tabindex="-1" role="dialog" aria-labeledby="helpModal" aria-hidden="true")
					.modal-dialog(role="document")
						.modal-content
							.modal-header
								button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
								h4.modal-title 使用說明
							.modal-body.content-li
								ul
									li "我的卡片"可以填入自己的卡片和客演角色(可不填)
									li 組隊區(紅組、黃組、藍組)可以自由設定隊員
									li 按自動組隊之後組好的三色隊伍會顯示在組隊區
									li 填好的卡片可以按匯出存成txt檔，下次按匯入就可以讀取之前的卡片記錄
									li 星級和卡片名稱不是必填，只是用來防止忘記是哪張卡
								dt 自動填入 (2019.03.24)
								ul
									li 卡片名稱可以手動輸入或從下拉式選單(資料庫內容)選擇
									li 從下拉式選單選擇卡片名稱的話會自動填入當前開花數可達到的最大數值
									li 選擇不同開花數時最大數值會自動變更
									li 自動填入的數值仍可手動修改掉，按套用資料庫數值會全部重新自動填入
									li 自動填入遇到資料庫有缺失的數值會填入0
									li 連線到資料庫有時會有延遲，請耐心等待><
									li 
										a(href="https://airtable.com/shrYnVnCdOJOtBYOy" target="_blank" ) 資料庫
										span 需要大家熱心的協力完善：
										a(href="https://forum.gamer.com.tw/C.php?bsn=31666&snA=577&tnum=3" target="_blank" ) 傳送門
				.modal.fade#yellowskill(tabindex="-1" role="dialog" aria-labeledby="skillModal" aria-hidden="true")
					div(ng-controller="CardGroup")
						.modal-dialog(role="document")
							.modal-content
								.modal-header
									button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
									h4.modal-title 黃組技能一覽
								.modal-body.content-li
									table.table.table-bordered.text-center.yellow-line
										tr.yellow-bg
											td 技能名稱
											td 倍率
											td 成員
										tr(ng-repeat="skill in yellowskill")
											td {{skill.name}}
											td {{skill.buff}}
											td
												span.member(ng-repeat="member in skill.members") {{member}}
				.modal.fade#redskill(tabindex="-1" role="dialog" aria-labeledby="skillModal" aria-hidden="true")
					div(ng-controller="CardGroup")
						.modal-dialog(role="document")
							.modal-content
								.modal-header
									button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
									h4.modal-title 紅組技能一覽
								.modal-body.content-li
									table.table.table-bordered.text-center.red-line
										tr.red-bg
											td 技能名稱
											td 倍率
											td 成員
										tr(ng-repeat="skill in redskill")
											td {{skill.name}}
											td {{skill.buff}}
											td
												span.member(ng-repeat="member in skill.members") {{member}}
				.modal.fade#blueskill(tabindex="-1" role="dialog" aria-labeledby="skillModal" aria-hidden="true")
					div(ng-controller="CardGroup")
						.modal-dialog(role="document")
							.modal-content
								.modal-header
									button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
									h4.modal-title 藍組技能一覽
								.modal-body.content-li
									table.table.table-bordered.text-center.blue-line
										tr.blue-bg
											td 技能名稱
											td 倍率
											td 成員
										tr(ng-repeat="skill in blueskill")
											td {{skill.name}}
											td {{skill.buff}}
											td
												span.member(ng-repeat="member in skill.members") {{member}}
				.modal.fade#loading
					.modal-dialog.modal-dialog-centered.modal-sm(role="dialog")
						.modal-content
							.modal-body
								h4 載入資料中...
								.spinner
			div(ng-controller="CardGroup")
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a(href="#card" role="tab" data-toggle="tab" ng-click="changecolor('gray')") 我的卡片
					li(role="presentation")
						a.yellow(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('yellow')") 黃組
					li(role="presentation")
						a.red(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('red')") 紅組
					li(role="presentation")
						a.blue(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('blue')") 藍組
				.tab-content(ng-class="{'gray': 'gray-bg', 'red': 'red-bg', 'blue': 'blue-bg', 'yellow': 'yellow-bg'}[color]")
					.tab-pane.active#card(role="tabpanel")
						.alert.alert-danger.right-align.small-alert#arrangealert(role="alert") {{warning_msg}}
						.table.text-center.white-bg.gray-line
							.tr.row
								.td.col-xs-12.col-md-3
									span 共有
									input.form-control.input-sm#cardcount(ng-model="cardcount" type="number" min="1" max="500" ng-blur="changecardcount()" style="width:80px;")
									span 張卡
								.td.col-xs-12.col-md-4
									span 同組加成
										select.form-control.input-sm(style="padding:1px; width:160px;" ng-model="eventgroup" option-value)
											option(value=-1) 無
											option(value=0) 春組
											option(value=1) 夏組
											option(value=2) 秋組
											option(value=3) 冬組
								.td.col-xs-12.col-md-5
									.btn-group-sm.right-align(role="group" aria-label="cards-operation")
										input.custom-file-input(name="cardfile" type="file" id="uploadfile" placeholder="匯入" custom-file-change="upload")
										label.btn.btn-secondary.custom-file-label(for="uploadfile") 匯入
										button.btn.btn-secondary(type="button" ng-click="download()") 匯出
										button.btn.btn-secondary(type="button" ng-click="clear()") 清除
										button.btn.btn-secondary(type="button" ng-click="usedb()") 套用資料庫數值
										button.btn.btn-secondary(type="button" ng-click="autoarrangeall()") 自動組隊
						.table.text-center.white-bg.gray-line
							.tr.row
								.td.col-xs-12.col-md-1 編號
								.td.col-xs-12.col-md-2 角色
								.td.col-xs-12.col-md-2 卡片名稱
								.td.col-xs-6.col-md-1 星級
								.td.col-xs-6.col-md-1 開花
								.td.col-xs-12.col-md-3 數值
								.td.col-xs-6.col-md-1 旬卡
								.td.col-xs-6.col-md-1 編輯
							.tr.row(ng-repeat="guest in guests track by $index")
								.td.col-xs-12.col-md-1(ng-class="{0: 'yellow-bg', 1: 'red-bg', 2: 'blue-bg'}[$index]") 客演角色
								.td.col-xs-12.col-md-2
									select.form-control.input-sm(ng-model="guest.character" type="text" ng-change="onguestcharacterchange(guest.character, '{{guest.character}}', $index)")
										option(value="" disabled selected) 選擇角色
										option(value="") 無
										option(ng-repeat="character in characters") {{character}}
								.td.col-xs-12.col-md-2
									span 【
									.combo
										select.form-control.input-sm.combo-select(type="text" id="{{ 'guest-select-' + $index }}")
											option(value="" disabled selected) 選擇卡片
											option(ng-repeat="cardname in cardnames[guest.character]") {{cardname}}
										input.form-control.input-sm.combo-input(ng-model="guest.cardname" type="text" placeholder="卡片名稱" ng-change="onguestchange($index)")
									span  】
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(name="{{ 'guest-data-' + $index }}" style="padding:1px;" ng-model="guest.star" option-value)
										option(value=1) N
										option(value=2) R
										option(value=3) SR
										option(value=4) SSR
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(style="padding:1px;" ng-model="guest.dupe" ng-change="onguestchange($index)" option-value)
										option(value=0) 零花
										option(value=1) 一花
										option(value=2) 滿開
								.td.col-xs-12.col-md-3
									.row.crowded-row
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.yellow-bg(name="{{ 'guest-data-' + $index }}" ng-model="guest.value" type="number" min="0" ng-class="{1:'hide',2:'hide'}[$index]")
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.red-bg(name="{{ 'guest-data-' + $index }}" ng-model="guest.value" type="number" min="0" ng-class="{0:'hide',2:'hide'}[$index]")
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.blue-bg(name="{{ 'guest-data-' + $index }}" ng-model="guest.value" type="number" min="0" ng-class="{0:'hide',1:'hide'}[$index]")
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(style="padding:1px;" ng-model="guest.event" option-value)
										option(value=0) 無
										option(value=1) 旬
										option(value=2) 小旬
								.td.col-xs-6.col-md-1
						.table.text-center.white-bg.gray-line
							.tr.row(ng-repeat="card in cards track by $index")
								.td.col-xs-12.col-md-1 {{$index+1}}
								.td.col-xs-12.col-md-2
									select.form-control.input-sm(ng-model="card.character" type="text" ng-change="oncardcharacterchange(card.character, '{{card.character}}', $index)")
										option(value="" disabled selected) 選擇角色
										option(ng-repeat="character in characters") {{character}}
								.td.col-xs-12.col-md-2
									span 【
									.combo
										select.form-control.input-sm.combo-select(type="text" id="{{ 'card-select-' + $index }}")
											option(value="" disabled selected) 選擇卡片
											option(ng-repeat="cardname in cardnames[card.character]") {{cardname}}
										input.form-control.input-sm.combo-input(ng-model="card.cardname" type="text" placeholder="卡片名稱" ng-change="oncardchange($index)")
									span  】
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(name="{{ 'card-data-' + $index }}" style="padding:1px;" ng-model="card.star" option-value)
										option(value=1) N
										option(value=2) R
										option(value=3) SR
										option(value=4) SSR
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(style="padding:1px;" ng-model="card.dupe" ng-change="oncardchange($index)" option-value)
										option(value=0) 零花
										option(value=1) 一花
										option(value=2) 滿開
								.td.col-xs-12.col-md-3
									.row.crowded-row
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.yellow-bg(name="{{ 'card-data-' + $index }}" ng-model="card.yellow" type="number" min="0")
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.red-bg(name="{{ 'card-data-' + $index }}" ng-model="card.red" type="number" min="0")
										.col-md-4.crowded-col
											input.form-control.wide.input-sm.blue-bg(name="{{ 'card-data-' + $index }}" ng-model="card.blue" type="number" min="0")
								.td.col-xs-6.col-md-1
									select.form-control.input-sm(style="padding:1px;" ng-model="card.event" option-value)
										option(value=0) 無
										option(value=1) 旬
										option(value=2) 小旬
								.td.col-xs-6.col-md-1.crowded-col
									.btn-group
										button(type="button" ng-click="addcard($index, true)").btn.btn-default.btn-xs
											span.glyphicon.glyphicon-plus
										button(type="button" ng-click="addcard($index, false)").btn.btn-default.btn-xs
											span.glyphicon.glyphicon-paste
										button(type="button" ng-click="removecard($index)").btn.btn-default.btn-xs
											span.glyphicon.glyphicon-minus
					.tab-pane#team(role="tabpanel")
						.table.text-center.white-bg(ng-class="{'red': 'red-line', 'blue': 'blue-line', 'yellow': 'yellow-line', 'gray': 'gray-line'}[color]")
							.tr.row
								.td.col-xs-6.col-md-1
									span 合計值
								.td.col-xs-6.col-md-1
									span(ng-bind="teams[color].total")
								.td.col-xs-4.col-md-1
									span 加成倍率
								.td.col-xs-4.col-md-2
									span 連鎖 
									span(ng-bind="teams[color].skillbuff")
								.td.col-xs-4.td.col-md-2
									span 同組 
									span(ng-bind="teams[color].groupbuff")
								.td.col-xs-12.col-md-5
									span(ng-bind="teams[color].skillname")
						.table.text-center.white-bg(ng-class="{'red': 'red-line', 'blue': 'blue-line', 'yellow': 'yellow-line', 'gray': 'gray-line'}[color]")
							.tr.row
								.td.col-md-2(ng-repeat="member in teams[color].members track by $index")
									.row {{$index + 1}}
									.row
										.buff-card.col-xs-4.col-md-4(style="padding: 1px;  line-height:30px;")
											select.form-control.input-sm(style="padding:1px;" ng-model="member.event" ng-change="calculate()" option-value)
												option(value=0) 無
												option(value=1) 旬
												option(value=2) 小旬
										.star.col-xs-4.col-md-4(style="padding:1px;")
											select.form-control.input-sm(name="{{ 'member-data-' + $index }}" style="padding:1px;" ng-model="member.star" option-value)
												option(value=1) N
												option(value=2) R
												option(value=3) SR
												option(value=4) SSR
										.card-count.col-xs-4.col-md-4(style="padding:1px;")
											select.form-control.input-sm(style="padding:1px;" ng-model="member.dupe" ng-change="calculate(); onmemberchange($index)" option-value)
												option(value=0) 零花
												option(value=1) 一花
												option(value=2) 滿開
									.row.character
										select.form-control.input-sm(ng-model="member.character" type="text" ng-change="calculate(); onmembercharacterchange(member.character, '{{member.character}}', $index)")
											option(value="" disabled selected) 選擇角色
											option(value="") 無
											option(ng-repeat="character in characters") {{character}}
									.row.card-name
										span 【
										.combo
											select.form-control.input-sm.combo-select(type="text" id="{{ 'member-select-' + $index}}")
												option(value="" disabled selected) 選擇卡片
												option(ng-repeat="cardname in cardnames[member.character]") {{cardname}}
											input.form-control.input-sm.combo-input(ng-model="member.cardname" type="text" placeholder="卡片名稱" ng-change="onmemberchange($index)")
										span  】
									.row.crowded-row
										.value(ng-class="{true: 'col-md-5 crowded-col', false: 'col-md-12'}[member.event != 0]")
											input.form-control.wide.input-sm(name="{{ 'member-data-' + $index }}" ng-model="member.value" type="number" min="0" ng-change="calculate()")
										.value(ng-class="{true: 'col-md-2  crowded-col', false: 'hidden'}[member.event != 0]")
											span.glyphicon.glyphicon-arrow-right.vertical-middle
										.value(ng-class="{true: 'col-md-5  crowded-col', false: 'hidden'}[member.event != 0]")
											input.form-control.wide.input-sm(placeholder="{{event_card_value(member, null)}}" disabled)
		.tail
			h6 感謝參考資料：
				a(href="https://karikan.web.fc2.com/linkskill/fantizi.html" target="_blank") RH大大的技能整理
				span 、
				a(href="https://airtable.com/shrYnVnCdOJOtBYOy" target="_blank" ) 資料庫